{% extends 'front/base.html' %}
{% block content %}
{% load i18n %}
{% if user.is_authenticated %}
<title>HTML editor | {{settings.title}}</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.62.2/codemirror.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/xml/xml.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/css/css.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/javascript/javascript.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.13.4/mode/htmlmixed/htmlmixed.js"></script>
<div style="margin-top:50px;">
    <ul class="uk-child-width-expand uk-tab">
        <li><a style="font-size:0.8vw;" href="{% url 'site_settings' %}"><span uk-icon="settings"></span>{% trans "General settings" %}</a></li>
        <li><a style="font-size:0.8vw;" href="{% url 'menu_settings' %}"><span uk-icon="menu"></span>{% trans "Menu settings" %}</a></li>
        <li><a style="font-size:0.8vw;" href="{% url 'social_settings' %}"><span uk-icon="social"></span>{% trans "Social networks" %}</a></li>
        <li><a style="font-size:0.8vw;" href="{% url 'user_settings' %}"><span uk-icon="user"></span>{% trans "User settings" %}</a></li>
        <li class="uk-active"><a style="font-size:0.8vw;" href="{% url 'template_settings' %}"><span uk-icon="file-text"></span>{% trans "Template settings" %}</a></li>
    </ul>
</div>
<style>
    .CodeMirror {
    height:50vh;
    }
</style>
<form method="post" enctype="multipart/form-data" style="margin:50px;">
    {% csrf_token %}
    <h3>{% trans "Template Editor" %}</h3>
    <p>{% trans "Using this editors you can set your own design for Main (index) and About Me pages. You can use all django template tags" %} + <a href="#tag-hints" uk-toggle>{% trans "project's loops and Site Settings tags" %}</a></p>
    <ul uk-accordion>
        <li>
            <a class="uk-accordion-title" href="#"><span uk-icon="home"></span> {% trans "Main page" %}</a>
            <div class="uk-accordion-content">
                <label class="uk-form-label">{% trans "Main page content" %}:</label>
                <div class="uk-form-controls">
                    <textarea id="index_content" name="index_content" class="code" placeholder='{% trans "Main page content" %}' style="margin:5px;border-radius:5px;">{{settings.index_content}}</textarea>
                </div>
            </div>
        </li>
        <li>
            <a class="uk-accordion-title" href="#"><span uk-icon="info"></span> {% trans "About Me page" %}</a>
            <div class="uk-accordion-content">
                <label class="uk-form-label">{% trans "About me page content" %}:</label>
                <div class="uk-form-controls">
                    <textarea id="about_content" name="about_content" class="code" placeholder='{% trans "About page content" %}' style="margin:5px;border-radius:5px;">{{settings.about_content}}</textarea>
                </div>
            </div>
        </li>
    </ul>
    <input class="uk-button uk-button-default" type="submit" value='{% trans "Update settings" %}'>
    <div id="tag-hints" class="uk-modal-full" uk-modal>
        <div class="uk-modal-dialog">
            <button class="uk-modal-close-full uk-close-large" type="button" uk-close></button>
            <div class="uk-grid-collapse uk-child-width-1-1@s uk-flex-middle" uk-grid>
                <div class="uk-padding-large" uk-height-viewport>
                    <h1>{% trans "Template tags hint page" %}</h1>
                    {% verbatim %}
                    <p>
                    <ul>
                        <li><a href="https://docs.djangoproject.com/en/4.2/ref/templates/builtins/" target="_blank">Django Docs</a></li>
                        <li>Site Settings tags</li>
                        <ul>

                            <li><b>{{settings.titile}}</b> - Website's Title (shown between &lt;title&gt;)</li>
                            <li><b>{{settings.logo.url}</b> - Logo url (to use in &lt;img src="{{settings.logo.url}}"&gt;)</li>
                            <li><b>{{settings.logo_width}}</b> - Logo width in px</li>
                            <li><b>{{settings.copyright}}</b> - Website's copyright, shown at the bottom of any page</li>
                            <li><b>{{settings.menu_delimiter}}</b> - Menu delimiter</li>
                            <li><b>{{settings.title_delimiter}}</b> - Title delimiter</li>
                            <li><b>{{settings.title_size}}</b> - Title size in pt</li>
                            <li><b>{{settings.menu_items_size}}</b> - Menu items site in pt</li>
                            <li><b>{{settings.title_delimiter}}</b> - Title delimiter</li>
                            <li><b>{{settings.favicon}}</b> - Website's favicon</li>
                            <li><b>{{settings.gle_analytics}}</b> - inserts Google Analytics code</li>
                        </ul>
                        <li>Built-in Project's loops</li>
                        <ul>
                            <li>
                                <b>{% for menu_item in menu_items %}<br />
                                    {{ menu_item.name }} {{menu_item.album.name}}<br />
                                    {% endfor %}</b> - iterates through menu items. look for MenuItem model.
                            </li>
                            <li>
                                <b>{% for album in albums %}<br />
                                    {{ album.name }} {{album.slug}}<br />
                                    {% endfor %}</b> - iterates through Albums. Look for Album model.
                            </li>
                            <li>
                                <b>{% for link in social %}<br />
                                    {{ link.name }} {{link.icon}}<br />
                                    {% endfor %}</b> - iterates through Social links. look for SocialLinks model.
                            </li>
                        </ul>
                        <li>Loops with filters</li>
                        <ul>
                            <li>
                                <b>{% for image in images|album:'landscapes'|slice:'2' %}<br />
                                    {{ image.name }} {{image.image.url}}<br />
                                    {% endfor %}</b> - iterates through Images with filters that allow to choose from which album take images and slice/limit images output. Look for Image model for more fields.
                            </li>
                        </ul>
                        <li>Base templates:</li>
                        <ul>
                            <li>Use website's base template header (menu, logo, social links, timeline icon):<br />
                                <b>{% extends 'front/base.html' %}<br />
                                    {% block content %}<br />
                                    YOUR HTML CONTENT<br />
                                    {% endblock %}</b><br />
                            </li>
                            <li>Use website's base template footer:<br />
                                <b>{% block copyright %}<br />
                                {{settings.copyright}}<br />
                                {% endblock %}</b>
                            </li>
                        </ul>
                    </ul>
                    </p>
                    {% endverbatim %}
                </div>
            </div>
        </div>
    </div>
</form>
<script>
    var textareas = document.querySelectorAll(".code");
    textareas.forEach(function(textarea) {
      var editor = CodeMirror.fromTextArea(textarea, {
        lineNumbers: true,
        mode: "htmlmixed",
        theme: "default",
        autoCloseTags: true,
        matchTags: {bothTags: true},
        extraKeys: {"Ctrl-Space": "autocomplete"},
      });
    });
  </script>
{% endif %}
{% endblock %}
{% block copyright %}
{{settings.copyright}}
{% endblock %}