asgiref==3.7.2
certifi==2023.7.22
charset-normalizer==3.2.0
Django==4.2.3
django-appconf==1.0.5
django-js-asset==2.1.0
envparse==0.2.0
idna==3.4
Pillow==10.0.0
requests==2.31.0
six==1.16.0
sqlparse==0.4.4
typing_extensions==4.7.1
urllib3==2.0.4
