{% extends 'front/base.html' %}
{% block content %}
<title>{{settings.title}}</title>
<h4 class="footer"><a href="/back/upload">Upload new images</a></h4>
<h4 class="footer"><a href="/back/settings">Site settings</a></h4>
<h4 class="footer"><a href="/re/land">ReOrder Album</a></h4>
<div class="gallery">
    <h2 class="uk-text-bolder footer uk-animation-fade">{{ settings.title_delimiter }} {{ album.name }} {{ settings.title_delimiter }}</h2>
    <div class="uk-child-width-1-3@m uk-text-center uk-grid-small" uk-grid="masonry: false" uk-lightbox="animation: slide">
        {% for image in images %}
        <div>
            <a href="{{ image.image.url }}" data-caption="Title of image">
                <div class="uk-card uk-card-default uk-card-body card-md"
                     style="background-image: url({{ image.thumbnail.url }});" uk-scrollspy="cls: uk-animation-fade; repeat: false"></div>
            </a>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
{% block copyright %}
{{settings.copyright}}
{% endblock %}
