<!DOCTYPE html>
{% load static %}
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {%if settings.favicon %}<link rel="icon" type="image/x-icon" href="{{settings.favicon.url}}">{% endif %}
    <meta name="robots" content="index, follow">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/css/uikit.min.css"/>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.14.3/dist/js/uikit.min.js"></script>
    {% if settings.show_social_links %}
    <script src="https://kit.fontawesome.com/740dc7ae65.js" crossorigin="anonymous"></script>
    {% endif %}
    {% if user.is_authenticated %}
    <nav class="uk-navbar-container" style="background-color: {{settings.topbar_bgcolor}};height:60px;">
        <div class="uk-container">
            <div uk-navbar>
                <div class="uk-navbar-center">
                    <ul class="uk-navbar-nav">
                        <li><a style="font-size:14pt;color:{{settings.topbar_fcolor}};" href="{% url 'create_album' %}">Create Album</a></li>
                        <li><a style="font-size:14pt;color:{{settings.topbar_fcolor}};" href="{% url 'upload_images' %}">Add images</a></li>
                        {% if album.id %}<li><a style="font-size:14pt;color:{{settings.topbar_fcolor}};" href="{% url 'edit_album' album_id=album.id %}">Edit Album</a></li>{% endif %}
                        <li><a style="font-size:14pt;color:{{settings.topbar_fcolor}};" href="{% url 'site_settings' %}">Site settings</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    {% endif %}
    <nav class="uk-navbar-container">
        <div class="uk-container">
            <div uk-navbar style="padding: 10px;">
                <div class="uk-navbar-left">
                    <ul class="uk-navbar-nav">
                        <li class="uk-active"><a class="uk-navbar-item uk-logo" href="/" aria-label="Back to Home"><img style="width:{{settings.logo_width}}px;" src="{% if settings.logo %}{{settings.logo.url}}{% else %}https://endlessnights.ru/src/img/logo.svg{% endif %}"></a></li>
                    </ul>
                </div>
                <div class="uk-navbar-right">
                    <ul class="uk-navbar-nav">
                        {% for item in menu_items %}
                        {% if item.status %}
                        <li><a style="font-size:{{settings.menu_items_size}}pt;" href="/{{ item.album.slug }}">{% if item.privilege %}{{ item.name|upper }}{% else %}{{ item.album.name }}{% endif %}</a></li>
                        {% if not forloop.last %}
                        <li><a style="font-size:18pt;">{{settings.menu_delimiter}}</a></li>
                        {% endif %}
                        {% endif %}
                        {% endfor %}
                        {% if settings.show_about_page %}
                        <li><a style="font-size:{{settings.menu_items_size}}pt;" href="/p/about">About</a></li>
                        {% endif %}
                        {% if settings.show_social_links %}
                        {% for link in social %}
                        <li title="{{link.name}}"><a href="{{link.link}}" style="font-size:24px;">{{link.icon|safe}}</a></li>
                        {% endfor %}
                        {% endif %}
                        {% if user.is_authenticated %}
                        <li><a href="/admin">ADMIN</a></li>
                        {% else %}
                        <li><a href="/admin">
                        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                        </svg>
                        </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</head>
<body>
{% block content %}
{% endblock %}
</body>
<a href="#id-logo" uk-totop uk-scroll style="float:right;margin-right:25px;"></a>
<div class="footer">
    {% block copyright %}
    {% endblock %}
</div>
</html>