{% extends 'front/base.html' %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.7.4/css/uikit.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<title>{{settings.title}}</title>
<h2 class="uk-text-bolder footer uk-animation-fade">{{ settings.title_delimiter }} Edit {{ album.name }} {{ settings.title_delimiter }}</h2>
<div class="uk-child-width-expand@s uk-text-center" uk-grid style="padding: 0px 50px 0px 50px;">
    <div class="uk-margin uk-width-2-3@s">
        <div class="gallery">
            <div class="uk-child-width-1-4@m uk-text-center uk-grid-small" uk-grid="masonry: false" uk-lightbox="animation: slide" id="image-grid">
                {% for image in images %}
                <div class="image-item" data-image-id="{{ image.id }}" data-image-order="{{ image.order }}">
                    <a href="{{ image.image.url }}" data-caption="{{image.name}}">
                        <div class="uk-card uk-card-default uk-card-body card-md" style="background-image: url({{ image.thumbnail.url }});">
                            <div class="drag-handle" style="cursor: move;font-size:24pt;">DRAG</div>
                        </div>
                    </a>
                    <button class="visibility-button" data-photo-id="{{ image.id }}">
                        {% if image.status %}
                        Hide image
                        {% else %}
                        Show image
                        {% endif %}
                    </button> |
                    <label for="form-select" style="font-size:10pt;">Change Album: </label>
                    <select class="form-select" name="album" data-photo-id="{{ image.id }}">
                        {% for album in albums %}
                        <option value="{{ album.id }}">{{ album.name }}</option>
                        {% endfor %}
                    </select> |
                    <input type="text" class="photo-name-input" data-photo-id="{{ image.id }}" value="{{ image.name }}">
                    <button class="save-button" data-photo-id="{{ image.id }}">Change name</button>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="uk-margin uk-width-1-3@s">
        <div>
            <div class="uk-card uk-card-default uk-card-body" style="text-align: left;">
                <form method="post" enctype="multipart/form-data" class="uk-grid-small" uk-grid>
                    {% csrf_token %}

                    <legend class="uk-legend">Edit Album</legend>

                    <div class="uk-margin uk-width-1-1@s">
                        <label class="uk-form-label"><input class="uk-checkbox" type="checkbox" id="status" name="status" {% if album.status == True %}checked{% endif %}> Album visibility to whole Internet</label>
                    </div>

                    <div class="uk-margin uk-width-1-2@s">
                        <label class="uk-form-label">Album name*:<input class="uk-input" type="text" placeholder="Album name" id="name" name="name" value="{{album.name}}" required></label>
                    </div>

                    <div class="uk-margin uk-width-1-2@s">
                        <label class="uk-form-label">Album slug*:<input class="uk-input" type="text" placeholder="Album slug" id="slug" name="slug" value="{{album.slug}}" required></label>
                    </div>

                    <div class="uk-margin uk-width-1-1">
                        <label class="uk-form-label">Album description:<textarea class="uk-textarea" rows="6" placeholder="Album description" id="desc" name="desc">{{album.desc}}</textarea></label>
                    </div>
                    {% if album.cover %}
                    <div class="uk-margin uk-width-1-1@s">
                        <label class="uk-form-label">Current Cover Image: <img src="{{album.cover.url}}"></label>
                    </div>
                    {% endif %}

                    <div class="uk-margin uk-width-1-1@s">
                        <div uk-form-custom>
                            <input type="file" aria-label="Custom controls" id="cover" name="cover" accept="image/*">
                            <button class="uk-button uk-button-default" type="button" tabindex="-1">Upload new Cover Image</button>
                        </div>
                    </div>
                    <hr width="100%">

                    <legend class="uk-legend">Advanced options</legend>

                    <div class="uk-margin uk-width-1-1@s">
                        <div class="uk-form-controls">
                            <label class="uk-form-label">Column gaps size: <select class="uk-select" id="form-stacked-select">
                                <option>No column gaps</option>
                                <option>Small column gaps</option>
                                <option>Medium column gaps</option>
                                <option>Large column gaps</option>
                            </select></label>
                        </div>
                    </div>

                    <div class="uk-margin uk-width-1-1@s">
                        <label class="uk-form-label">Images border radius, px:<input class="uk-input"
                               type="number"
                               placeholder="Images border radius, px"
                               min="0"
                               max="300"
                               step="1"
                               value="{{album.image_border_radius}}"
                               id="image_border_radius"
                               name="image_border_radius"
                               onkeydown="if(event.key==='.'){event.preventDefault();}"  oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');"></label>
                    </div>
                    <div class="uk-margin uk-width-1-1@s">
                        <label class="uk-form-label">Columns on mobile devices:<input class="uk-input"
                               type="number"
                               placeholder="Columns count on mobile devices"
                               min="1"
                               max="6"
                               step="1"
                               value="{{album.cols_count_s}}"
                               id="cols_count_s"
                               name="cols_count_s"
                               onkeydown="if(event.key==='.'){event.preventDefault();}"  oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');"></label>
                    </div>
                    <div class="uk-margin uk-width-1-1@s">
                        <label class="uk-form-label">Columns on PCs/laptops:<input class="uk-input"
                               type="number"
                               placeholder="Columns count"
                               min="1"
                               max="6"
                               step="1"
                               value="{{album.cols_count_m}}"
                               id="cols_count_m"
                               name="cols_count_m"
                               onkeydown="if(event.key==='.'){event.preventDefault();}"  oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');"></label>
                    </div>

                    <div class="uk-margin uk-width-1-2">
                        <label class="uk-form-label"><input class="uk-checkbox" type="checkbox" id="desc_visible" name="desc_visible" {% if album.desc_visible == True %}checked{% endif %}> Description visibility</label>
                    </div>

                    <div class="uk-margin uk-width-1-2@s">
                        <label class="uk-form-label"><input class="uk-checkbox" type="checkbox" id="cover_visible" name="cover_visible" {% if album.cover_visible == True %}checked{% endif %}> Cover visibility</label>
                    </div>

                    <input class="uk-button uk-button-default" type="submit" value="Update album settings">
                    {% if error_msg %}
                    <p class="uk-text-danger">{{ error_msg }}</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .hidden-image {
  filter: brightness(50%);
}
</style>
<script>
$(document).on('click', '.visibility-button', function(event) {
    var button = $(this); // Save reference to the button

    var imageId = button.data('photo-id');
    var visibility = !button.text().includes('Hide');

    $.ajax({
        url: '/sys/images/' + imageId + '/change_visibility',
        method: 'POST',
        data: {
            'csrfmiddlewaretoken': "{{ csrf_token }}",
            'visibility': visibility
        },
        success: function(data) {
            if (data.success) {
                // Update the button text using the saved reference
                button.text(visibility ? 'Hide image' : 'Show image');

                // Get the parent container of the button, which contains the image
                var imageContainer = button.closest('.image-item');

                // Add or remove the .hidden-image class based on the visibility
                if (visibility) {
                    imageContainer.css('filter', 'none'); // Remove the filter when the image is shown
                } else {
                    imageContainer.css('filter', 'blur(1px)'); // Add the filter when the image is hidden
                }
            }
        }
    });
});

// On page load, apply the filter to the image items with the button text "Show image"
$(document).ready(function() {
    $('.visibility-button:contains("Show image")').each(function() {
        var imageItem = $(this).closest('.image-item');
        imageItem.css('filter', 'blur(1px)');
    });
});
</script>
<script>
$(document).ready(function() {
    $('.image-item').on('change', '.form-select', function(event) {
        event.preventDefault();

        var photoId = $(this).data('photo-id');
        var albumId = $(this).val();

        $.ajax({
            url: '/sys/change_album/' + photoId + '/' + albumId,
            type: 'POST',
            data: {
            'csrfmiddlewaretoken': "{{ csrf_token }}",
            'album': albumId,
            },
            success: function(data) {
                if (data.success) {
                    alert('Album changed successfully!');
                } else {
                    alert('An error occurred.');
                }
            }
        });
    });
});
</script>
<script>
$(document).ready(function() {
    $('.photo-name-input').on('change', function() {
        var photoId = $(this).data('photo-id');
        var newName = $(this).val();
        $.ajax({
            url: '/sys/update_image_name/' + photoId,
            type: 'POST',
            data: {
                name: newName,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            },
            success: function(data) {
                if (data.success) {
                    alert('Image name changed successfully!');
                } else {
                    alert('An error occurred.');
                }
            }
        });
    });
});
</script>
<script>
$(document).ready(function () {
    $("#image-grid").sortable({
        handle: ".drag-handle",
        update: function (event, ui) {
            var imageOrderData = [];
            $(this).children().each(function (index) {
                var imageId = $(this).data("image-id");
                var newOrder = index + 1;
                imageOrderData.push({
                    id: imageId,
                    order: newOrder,
                });
            });
            // Send the updated order data to the server using AJAX
            $.ajax({
                type: "POST",
                url: "{% url 'update_image_order' %}",
                data: {
                    images: JSON.stringify(imageOrderData),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function (response) {
                    // Handle any success response from the server
                    console.log("Image order updated successfully!");
                },
                error: function (xhr) {
                    // Handle any error response from the server
                    console.log("Error updating image order: " + xhr.status);
                },
            });
        },
    });
});
</script>
{% endblock %}
{% block copyright %}
{{settings.copyright}}
{% endblock %}
