{% extends 'front/base.html' %}
{% block content %}
{% load static %}
{% load i18n %}
{% if user.is_authenticated %}
<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
<script src="{% static 'js/jquery-ui.min.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/flatpickr.min.css' %}">
<script src="{% static 'js/flatpickr.js' %}"></script>
<title>{{settings.title}}</title>
<h2 class="uk-text-bolder footer uk-animation-fade">{{ settings.title_delimiter }} {% trans "Edit" %} {{ album.name }} {{ settings.title_delimiter }}</h2>
<div class="uk-child-width-expand@s uk-text-center" uk-grid style="padding: 0px 30px 0px 30px;">
    <div class="uk-margin uk-width-2-3@s">
        <div class="gallery">
            {% if album.get_grid_type_display == 'grid' %}
            {% include "front/edit_album/grid.html" %}
            {% elif album.get_grid_type_display == 'masonry (beta)' %}
            {% include "front/edit_album/masonry.html" %}
            {% endif %}
        </div>
    </div>
    <div class="uk-margin uk-width-1-3@s" style="margin-top:0px !important;">
        <div>
            <div class="uk-card uk-card-default uk-card-body" style="text-align: left;">
                {% include 'front/edit_album/form.html' %}
            </div>
        </div>
    </div>
</div>
{% include "front/scripts/edit_album_scripts.html" %}
{% endif %}
{% endblock %}
{% block copyright %}
{{settings.copyright}}
{% endblock %}
