{% extends 'front/base.html' %}
{% block content %}
{% load static %}
<script src="{% static 'js/datepicker.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/datepicker.css' %}"/>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.7.4/css/uikit.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<title>{{settings.title}}</title>
<h2 class="uk-text-bolder footer uk-animation-fade">{{ settings.title_delimiter }} Edit {{ album.name }} {{ settings.title_delimiter }}</h2>
<div class="uk-child-width-expand@s uk-text-center" uk-grid style="padding: 0px 30px 0px 30px;">
    <div class="uk-margin uk-width-2-3@s">
        <div class="gallery">
            <div class="uk-child-width-1-{{album.cols_count_m}}@m uk-text-center uk-grid-small" uk-grid="masonry: false" id="image-grid">
                {% for image in images %}
                <div class="image-item" data-image-id="{{ image.id }}" data-image-order="{{ image.order }}">
                    <div class="uk-card uk-card-default uk-card-body card-md" style="background-image: url({{ image.thumbnail.url }});">
                        <div class="drag-handle" style="cursor: move;font-size:24pt;">DRAG</div>
                    </div>
                    <input placeholder="Photo name" uk-tooltip="Rename image" type="text" class="photo-name-input" data-photo-id="{{ image.id }}" value="{{ image.name }}">
                    <button type="button" uk-tooltip="Image options">📝 Options</button>
                    <div uk-dropdown="pos: bottom-right">
                        <ul class="uk-nav uk-dropdown-nav">
                            <li>
                                <a>
                                    Change Album: <select uk-tooltip="Change Album" class="form-select" name="album" data-photo-id="{{ image.id }}">
                                    {% for album in albums %}
                                    <option value="{{ album.id }}" {% if image.album.id == album.id %}selected{% endif %} >{{ album.name }}</option>
                                    {% endfor %}
                                </select>
                                </a>
                            </li>
                            <li><a class="visibility-button" data-photo-id="{{ image.id }}">
                                {% if image.status %}
                                Hide image
                                {% else %}
                                Show image
                                {% endif %}
                            </a></li>
                            <li><a uk-toggle="target: #modal-exif-{{ image.id }}">Edit EXIF</a></li>
                            <li class="uk-nav-divider"></li>
                            <li><a uk-toggle="target: #modal-example-{{ image.id }}">❌ Delete image</a></li>
                        </ul>
                    </div>
                    <div id="modal-example-{{ image.id }}" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <h2 class="uk-modal-title">Delete image</h2>
                            <p>Are you sure you want to delete this image?</p>
                            <p class="uk-text-right">
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                <button class="uk-button uk-button-danger" type="button" onclick="location.href='{% url 'delete_image' image_id=image.id %}'">Delete</button>
                            </p>
                        </div>
                    </div>
                    <div id="modal-exif-{{ image.id }}" class="uk-modal-container" uk-modal>
                        <div class="uk-modal-dialog uk-modal-body">
                            <h2 class="uk-modal-title">Edit EXIF data</h2>
                            <form id="updateForm">
                                <div uk-grid>
                                    <div class="uk-width-1-2@m">
                                        <label class="uk-form-label">Image name:</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" type="text" name="name" id="name" value="{{ photo.name }}">
                                        </div>
                                        <label class="uk-form-label">Album:</label>
                                        <div class="uk-form-controls">
                                            <select uk-tooltip="Change Album" class="uk-select form-select" name="album" data-photo-id="{{ image.id }}">
                                                {% for album in albums %}
                                                <option value="{{ album.id }}" {% if image.album.id == album.id %}selected{% endif %} >{{ album.name }}</option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <label class="uk-form-label">camera_manufacturer:</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" type="text" name="camera_manufacturer" id="camera_manufacturer" value="{{ photo.camera_manufacturer }}">
                                        </div>
                                        <label class="uk-form-label">camera_model:</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" type="text" name="camera_model" id="camera_model" value="{{ photo.camera_model }}">
                                        </div>
                                        <label class="uk-form-label">latitude:</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" type="text" name="latitude" id="latitude" value="{{ photo.focal_length }}">
                                        </div>
                                        <label class="uk-form-label">longitude:</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" type="text" name="longitude" id="longitude" value="{{ photo.focal_length }}">
                                        </div>
                                        <label class="uk-form-label">date_taken:</label>
                                        <div class="uk-form-controls">
                                            <input type="text" id="date_taken" name="date_taken" v-model="date_taken" class="uk-input" uk-datepicker="{format:'YYYY-MM-DD HH:mm'}">
                                        </div>
                                    </div>
                                    <div class="uk-width-1-2@m">
                                        <label class="uk-form-label">focal_length:</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" type="text" name="focal_length" id="focal_length" value="{{ photo.focal_length }}">
                                        </div>
                                        <label class="uk-form-label">exposure_time:</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" type="text" name="exposure_time" id="exposure_time" value="{{ photo.focal_length }}">
                                        </div>
                                        <label class="uk-form-label">f_number:</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" type="text" name="f_number" id="f_number" value="{{ photo.focal_length }}">
                                        </div>
                                        <label class="uk-form-label">iso_speed:</label>
                                        <div class="uk-form-controls">
                                            <input class="uk-input" type="text" name="iso_speed" id="iso_speed" value="{{ photo.focal_length }}">
                                        </div>
                                        <img src="{{image.image.url}}" width="400">
                                    </div>
                                </div>
                                <button class="uk-button uk-button-primary" type="button" id="updateButton" style="margin-top:25px;">Update</button>
                            </form>
                            <p class="uk-text-right">
                                <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                <button class="uk-button uk-button-primary" type="button" onclick="location.href=''">Save EXIF</button>
                            </p>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="uk-margin uk-width-1-3@s" style="margin-top:0px !important;">
        <div>
            <div class="uk-card uk-card-default uk-card-body" style="text-align: left;">
                <form method="post" enctype="multipart/form-data" class="uk-grid-small" uk-grid>
                    {% csrf_token %}
                    <ul uk-accordion="multiple: true">
                        <li class="uk-open">
                            <a class="uk-accordion-title" href="#">Edit Album</a>
                            <div class="uk-accordion-content">
                                <div class="uk-margin uk-width-1-1@s">
                                    <label class="uk-form-label"><input class="uk-checkbox" type="checkbox" id="status" name="status" {% if album.status == True %}checked{% endif %}> Album visibility to whole Internet</label>
                                </div>

                                <div class="uk-margin uk-width-1-2@s">
                                    <label class="uk-form-label">Album name*:<input class="uk-input" type="text" placeholder="Album name" id="name" name="name" value="{{album.name}}" required></label>
                                </div>

                                <div class="uk-margin uk-width-1-2@s">
                                    <label class="uk-form-label">Album slug*:<input class="uk-input" type="text" placeholder="Album slug" id="slug" name="slug" value="{{album.slug}}" required></label>
                                </div>

                                <div class="uk-margin uk-width-1-1">
                                    <label class="uk-form-label">Album description:<textarea class="uk-textarea" rows="6" placeholder="Album description" id="desc" name="desc">{{album.desc}}</textarea></label>
                                </div>
                                {% if album.cover %}
                                <div class="uk-margin uk-width-1-1@s">
                                    <label class="uk-form-label">Current Cover Image: <img src="{{album.cover.url}}"></label>
                                </div>
                                {% endif %}

                                <div class="uk-margin uk-width-1-1@s">
                                    <div uk-form-custom>
                                        <input type="file" aria-label="Custom controls" id="cover" name="cover" accept="image/png, image/jpeg, image/webp, image/bmp">
                                        <button class="uk-button uk-button-default" type="button" tabindex="-1">Upload new Cover Image</button>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Advanced options</a>
                            <div class="uk-accordion-content">
                                <div class="uk-margin uk-width-1-1@s">
                                    <div class="uk-form-controls">
                                        <label class="uk-form-label">Column gaps size: <select class="uk-select" id="cols_gap" name="cols_gap">
                                            {% for value, label in album.cols_gap_size %}
                                            <option value="{{value}}" {% if album.cols_gap == value %}selected{% endif %}>{{label}}</option>
                                            {% endfor %}
                                        </select></label>
                                    </div>
                                </div>
                                <div class="uk-margin uk-width-1-1@s">
                                    <label class="uk-form-label">Images border radius, px:<input class="uk-input"
                                                                                                 type="number"
                                                                                                 placeholder="Images border radius, px"
                                                                                                 min="0"
                                                                                                 max="300"
                                                                                                 step="1"
                                                                                                 value="{{album.image_border_radius}}"
                                                                                                 id="image_border_radius"
                                                                                                 name="image_border_radius"
                                                                                                 onkeydown="if(event.key==='.'){event.preventDefault();}"  oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');"></label>
                                </div>

                                <div class="uk-margin uk-width-1-2@s">
                                    <label class="uk-form-label">Columns on PCs/laptops:<input class="uk-input"
                                                                                               type="number"
                                                                                               placeholder="Columns count"
                                                                                               min="1"
                                                                                               max="6"
                                                                                               step="1"
                                                                                               value="{{album.cols_count_m}}"
                                                                                               id="cols_count_m"
                                                                                               name="cols_count_m"
                                                                                               onkeydown="if(event.key==='.'){event.preventDefault();}"  oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');"></label>
                                </div>

                                <div class="uk-margin uk-width-1-2@s">
                                    <label class="uk-form-label">Columns on mobile devices:<input class="uk-input"
                                                                                                  type="number"
                                                                                                  placeholder="Columns count on mobile devices"
                                                                                                  min="1"
                                                                                                  max="6"
                                                                                                  step="1"
                                                                                                  value="{{album.cols_count_s}}"
                                                                                                  id="cols_count_s"
                                                                                                  name="cols_count_s"
                                                                                                  onkeydown="if(event.key==='.'){event.preventDefault();}"  oninput="event.target.value = event.target.value.replace(/[^0-9]*/g,'');"></label>
                                </div>

                                <div class="uk-margin uk-width-1-2@s">
                                    <label class="uk-form-label">Meta Keywords:<input class="uk-input"
                                                                                      type="text"
                                                                                      placeholder="Meta Keywords"
                                                                                      value="{{album.meta_tags}}"
                                                                                      id="meta_tags"
                                                                                      name="meta_tags"></label>
                                </div>
                                <div class="uk-margin uk-width-1-2@s">
                                    <label class="uk-form-label">Meta Description:<input class="uk-input"
                                                                                         type="text"
                                                                                         placeholder="Meta Description"
                                                                                         value="{{album.meta_desc}}"
                                                                                         id="meta_desc"
                                                                                         name="meta_desc"></label>
                                </div>

                                <div class="uk-margin uk-width-1-2">
                                    <label class="uk-form-label"><input class="uk-checkbox" type="checkbox" id="desc_visible" name="desc_visible" {% if album.desc_visible == True %}checked{% endif %}> Description visibility</label>
                                </div>

                                <div class="uk-margin uk-width-1-2@s">
                                    <label class="uk-form-label"><input class="uk-checkbox" type="checkbox" id="cover_visible" name="cover_visible" {% if album.cover_visible == True %}checked{% endif %}> Cover visibility</label>
                                </div>
                            </div>
                        </li>
                        <li>
                            <a class="uk-accordion-title" href="#">Danger Zone</a>
                            <div class="uk-accordion-content">
                                <button style="margin-bottom:15px;" class="uk-button uk-button-danger uk-margin-small-right" type="button" uk-toggle="target: #modal-delete-all-hidden-{{album.id}}">Delete all Hidden Images</button>
                                <div id="modal-delete-all-hidden-{{album.id}}" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body">
                                        <h3>Delete all images from "{{album.name}}" album?</h3>
                                        <p>It will delete all hidden images from this album</p>
                                        <p class="uk-text-right">
                                            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                            <a href="#" id="deleteImageshiddenLink"><button class="uk-button uk-button-danger" type="button">Delete Hidden</button></a>
                                        </p>
                                    </div>
                                </div>
                                <button class="uk-button uk-button-danger uk-margin-small-right" type="button" uk-toggle="target: #modal-delete-all-{{album.id}}">Delete all photos</button>
                                <div id="modal-delete-all-{{album.id}}" uk-modal>
                                    <div class="uk-modal-dialog uk-modal-body">
                                        <h3>Delete all images from "{{album.name}}" album?</h3>
                                        <p>It will delete all images from this album</p>
                                        <p class="uk-text-right">
                                            <button class="uk-button uk-button-default uk-modal-close" type="button">Cancel</button>
                                            <a href="#" id="deleteImagesLink"><button class="uk-button uk-button-danger" type="button">Delete all</button></a>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <input class="uk-button uk-button-default" type="submit" value="Update album settings">
                </form>
            </div>
        </div>
    </div>
</div>
<style>
    .hidden-image {
  filter: brightness(50%);
}
</style>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var deleteImagesLink = document.getElementById("deleteImagesLink");
        deleteImagesLink.addEventListener("click", function (event) {
            event.preventDefault();
            var albumId = "{{ album.id }}"; // Replace "album" with the context variable holding the Album object
            var url = "/sys/delete_all_album_images/" + albumId + "/";

            // Send an AJAX request to delete images
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}", // Replace "csrf_token" with the context variable holding the CSRF token
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    // Handle successful deletion, e.g., show a success message or reload the page
                    location.reload(); // Reload the page to update the album's image list
                } else {
                    // Handle error, e.g., show an error message
                    console.error(data.message);
                }
            })
            .catch(error => {
                // Handle fetch errors
                console.error('Error:', error);
            });
        });
    });
</script>
<script>
    document.addEventListener("DOMContentLoaded", function () {
        var deleteImageshiddenLink = document.getElementById("deleteImageshiddenLink");
        deleteImageshiddenLink.addEventListener("click", function (event) {
            event.preventDefault();
            var albumId = "{{ album.id }}"; // Replace "album" with the context variable holding the Album object
            var url = "/sys/delete_all_album_hidden_images/" + albumId + "/";

            // Send an AJAX request to delete images
            fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': "{{ csrf_token }}", // Replace "csrf_token" with the context variable holding the CSRF token
                },
            })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    // Handle successful deletion, e.g., show a success message or reload the page
                    location.reload(); // Reload the page to update the album's image list
                } else {
                    // Handle error, e.g., show an error message
                    console.error(data.message);
                }
            })
            .catch(error => {
                // Handle fetch errors
                console.error('Error:', error);
            });
        });
    });
</script>
<script>
$(document).on('click', '.visibility-button', function(event) {
    var button = $(this); // Save reference to the button

    var imageId = button.data('photo-id');
    var visibility = !button.text().includes('Hide image');

    $.ajax({
        url: '/sys/images/' + imageId + '/change_visibility',
        method: 'POST',
        data: {
            'csrfmiddlewaretoken': "{{ csrf_token }}",
            'visibility': visibility
        },
        success: function(data) {
            if (data.success) {
                // Update the button text using the saved reference
                button.text(visibility ? 'Hide image' : 'Show image');

                // Get the parent container of the button, which contains the image
                var imageContainer = button.closest('.image-item');

                // Add or remove the .hidden-image class based on the visibility
                if (visibility) {
                    imageContainer.css('filter', 'none'); // Remove the filter when the image is shown
                } else {
                    imageContainer.css('filter', 'blur(1px)'); // Add the filter when the image is hidden
                }
            }
        }
    });
});

// On page load, apply the filter to the image items with the button text "Show"
$(document).ready(function() {
    $('.visibility-button:contains("Show")').each(function() {
        var imageItem = $(this).closest('.image-item');
        imageItem.css('filter', 'blur(1px)');
    });
});
</script>
<script>
$(document).ready(function() {
    $('.image-item').on('change', '.form-select', function(event) {
        event.preventDefault();

        var photoId = $(this).data('photo-id');
        var albumId = $(this).val();

        $.ajax({
            url: '/sys/change_album/' + photoId + '/' + albumId,
            type: 'POST',
            data: {
            'csrfmiddlewaretoken': "{{ csrf_token }}",
            'album': albumId,
            },
            success: function(data) {
                if (data.success) {
                    UIkit.notification({message: 'Album changed successfully!', status: 'success', timeout: 2000});
                } else {
                    alert('An error occurred.');
                }
            }
        });
    });
});
</script>
<script>
$(document).ready(function() {
    $('.photo-name-input').on('change', function() {
        var photoId = $(this).data('photo-id');
        var newName = $(this).val();
        $.ajax({
            url: '/sys/update_image_name/' + photoId,
            type: 'POST',
            data: {
                name: newName,
                'csrfmiddlewaretoken': "{{ csrf_token }}"
            },
            success: function(data) {
                if (data.success) {
                    UIkit.notification({message: 'Image name changed successfully!', status: 'success', timeout: 2000});
                } else {
                    alert('An error occurred.');
                }
            }
        });
    });
});
</script>
<script>
    document.getElementById('updateButton').addEventListener('click', function() {
        // Collect data from the form
        const formData = new FormData(document.getElementById('updateForm'));

        // Make the Ajax request
        fetch(`/update_image_exif/${{ photo.id }}/`, {
            method: 'POST',
            body: formData,
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',  // Add this if you use CSRF protection
            },
        })
        .then(response => response.json())
        .then(data => {
            if (data.success) {
                // Handle success, e.g., show a success message
                alert('Data updated successfully!');

                // Update the content in the template
                document.getElementById('name').value = formData.get('name');
                document.getElementById('album').value = formData.get('album');
                document.getElementById('camera_manufacturer').value = formData.get('camera_manufacturer');
                document.getElementById('camera_model').value = formData.get('camera_model');
                document.getElementById('focal_length').value = formData.get('focal_length');
                // ... (update other fields as well)
            } else {
                // Handle error, if needed
                alert('An error occurred while updating data.');
            }
        })
        .catch(error => {
            // Handle errors, if any
            console.error('Error:', error);
        });
    });
</script>
<script>
$(document).ready(function () {
    $("#image-grid").sortable({
        handle: ".drag-handle",
        update: function (event, ui) {
            var imageOrderData = [];
            $(this).children().each(function (index) {
                var imageId = $(this).data("image-id");
                var newOrder = index + 1;
                imageOrderData.push({
                    id: imageId,
                    order: newOrder,
                });
            });
            // Send the updated order data to the server using AJAX
            $.ajax({
                type: "POST",
                url: "{% url 'update_image_order' %}",
                data: {
                    images: JSON.stringify(imageOrderData),
                    csrfmiddlewaretoken: "{{ csrf_token }}",
                },
                success: function (response) {
                    // Handle any success response from the server
                    console.log("Image order updated successfully!");
                },
                error: function (xhr) {
                    // Handle any error response from the server
                    console.log("Error updating image order: " + xhr.status);
                },
            });
        },
    });
});
</script>
{% endblock %}
{% block copyright %}
{{settings.copyright}}
{% endblock %}
