{% extends 'front/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<title>Menu settings | {{settings.title}}</title>
<link rel="stylesheet" href="https://code.jquery.com/ui/edit_album.13.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<div style="margin-top:50px;">
    <ul class="uk-child-width-expand uk-tab">
        <li><a href="{% url 'site_settings' %}">General settings</a></li>
        <li class="uk-active"><a href="{% url 'menu_settings' %}">Menu settings</a></li>
        <li><a href="{% url 'add_social' %}">Social networks</a></li>
        <li><a href="#">User settings</a></li>
    </ul>
</div>
<div>
    <div class="uk-card uk-card-default uk-card-body" style="text-align: center;">
        <h3>Reorder and Rename Menu Items</h3>
        <p>If "✅ Privilege" checked, the name of the menu item from the form below will be used, otherwise as in the album name.<br />
        To change the order of menu items, drag the #</p>
        <ul id="menu-items" style="list-style-type: none;">
            {% for item in menu_items %}
            <li data-menu-item-id="{{ item.id }}">
                <span style="font-size:16pt;"> # </span>
                <input class="item-status uk-checkbox" type="checkbox" {% if item.status %}checked{% endif %} style="background-color:green;">
                <input type="text" value="{{ item.name }}" class="item-name uk-input uk-form-width-large" style="margin:5px;border-radius:5px;">
                <label><input class="item-privilege uk-checkbox" type="checkbox" {% if item.privilege %}checked{% endif %}> Privilege</label>
                <button class="save-button uk-button uk-button-default" data-menu-item-id="{{ item.id }}" style="border-radius:5px;">Save</button>
                <span style="font-size:16pt;"> # </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</div>
<script>
$(function() {
            $("#menu-items").sortable();

            // Add event listener for the "Save" button clicks
            $(".save-button").on("click", function() {
                var itemId = $(this).data("menu-item-id");
                var newName = $(this).siblings(".item-name").val();
                var newPrivilege = $(this).siblings("label").find(".item-privilege").prop("checked");
                var newStatus = $(this).siblings(".item-status").prop("checked");

                // Send the updated name to the server-side using AJAX
                $.ajax({
                    type: "POST",
                    url: "{% url 'update_menu_item_name' %}",
                    data: {
                        "item_id": itemId,
                        "new_name": newName,
                        "privilege": newPrivilege,
                        "status": newStatus,
                        "csrfmiddlewaretoken": "{{ csrf_token }}"
                    },
                    success: function(response) {
                        // Handle the success response, if needed
                        console.log(response);
                    },
                    error: function(error) {
                        // Handle the error response, if needed
                        console.error(error);
                    }
                });
            });
        });
$(function() {
            $("#menu-items").sortable({
                update: function(event, ui) {
                    var newOrder = $(this).sortable('toArray', { attribute: 'data-menu-item-id' });

                    $.ajax({
                        type: 'POST',
                        url: '{% url 'update_menu_order' %}',
                        data: {
                            'new_order': newOrder,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function() {
                            // You may choose to handle success response if needed.
                        },
                        error: function() {
                            // You may choose to handle error response if needed.
                        }
                    });
                }
            });
        });
</script>
{% endif %}
{% endblock %}
{% block copyright %}
{{settings.copyright}}
{% endblock %}
