{% extends 'front/base.html' %}
{% block content %}
<body>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.min.js"></script>
<h1>Reorder Menu Items</h1>
<ul id="menu-items">
    {% for item in menu_items %}
    <li data-menu-item-id="{{ item.id }}"><h4>{{ item.name|upper }}</h4></li>
    {% endfor %}
</ul>

<script>
$(function() {
            $("#menu-items").sortable({
                update: function(event, ui) {
                    var newOrder = $(this).sortable('toArray', { attribute: 'data-menu-item-id' });

                    $.ajax({
                        type: 'POST',
                        url: '/back/update_menu_order/',
                        data: {
                            'new_order': newOrder,
                            'csrfmiddlewaretoken': '{{ csrf_token }}'
                        },
                        success: function() {
                            // You may choose to handle success response if needed.
                        },
                        error: function() {
                            // You may choose to handle error response if needed.
                        }
                    });
                }
            });
        });
</script>
</body>
{% endblock %}
{% block copyright %}
{{settings.copyright}}
{% endblock %}