{% extends 'front/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<title>General Settings | {{settings.title}}</title>
<div style="margin-top:50px;">
    <ul class="uk-child-width-expand uk-tab">
        <li class="uk-active"><a href="{% url 'site_settings' %}">General settings</a></li>
        <li><a href="{% url 'menu_settings' %}">Menu settings</a></li>
        <li><a href="{% url 'add_social' %}">Social networks</a></li>
        <li><a href="#">User settings</a></li>
    </ul>
</div>
<div class="uk-text-left" uk-grid style="padding:40px;">
    <div class="uk-width-2-3">
        <div class="uk-card uk-card-default uk-card-body">
            <h3>Site Settings</h3>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <input class="uk-button uk-button-default" type="submit" value="UPDATE SETTINGS">
            </form>
        </div>
    </div>
    <div class="uk-width-1-3">
        <div class="uk-card uk-card-default uk-card-body">SmartGallery CMS<br />
            Project Author: <a href="https://t.me/pycarrot2">Bakhti Baymukhamedov</a><br />
            Engine: <a href="https://www.djangoproject.com">Django (Python framework)</a>

        </div>
    </div>
</div>
{% endif %}
{% endblock %}
{% block copyright %}
{{settings.copyright}}
{% endblock %}
