{% extends 'front/base.html' %}
{% block content %}
{% load i18n %}
{% if user.is_authenticated %}
<title>{% trans "Upload Images" %} | {{settings.title}}</title>
<div class="footer">
    <h1>{% trans "Upload Images" %}</h1>
    <form method="post" enctype="multipart/form-data" onsubmit="return validateForm()">
        {% csrf_token %}
        <input required name="image" type="file" multiple id="id_image" accept="image/png, image/jpeg, image/webp, image/bmp">
        <select name="album" id="id_album" required>
            <option value="none" disabled selected>{% trans "Select an Album" %}...</option>
            {% for album in albums %}
            <option value="{{album.name}}">{{album.name}}</option>
            {% endfor %}
        </select>
        <br>
        <p>{% trans "If the field below (Youtube Video) is filled, then the uploaded photo will serve as a preview." %}</p>
        <label style="font-size:10pt;">{% trans "Youtube Video link" %}: </label><input name="ytvideo" type="text" id="id_ytvideo">
        <br>
        <input type="submit" value='{% trans "Upload" %}'>
    </form>
</div>
<script>
    function validateForm() {
        const selectedAlbum = document.getElementById('id_album').value;
        if (selectedAlbum === 'none') {
            UIkit.notification({message: 'Select an album from dropdown menu!', status: 'warning', timeout: 1000});
            return false; // Prevent form submission
        }
        return true; // Allow form submission
    }
</script>
{% endif %}
{% endblock %}
{% block copyright %}
{{settings.copyright}}
{% endblock %}