{% extends 'front/base.html' %}
{% block content %}
{% if user.is_authenticated %}
<title>Upload Images | {{settings.title}}</title>
<div class="footer">
    <h1>Upload Images</h1>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input required name="image" type="file" multiple id="id_image">
        <select name="album" required>
            <option value="none" disabled>Select an Album...</option>
            {% for album in albums %}
            <option value="{{album.name}}">{{album.name}}</option>
            {% endfor %}
        </select>
        <br>
        <input type="submit" value="Upload">
    </form>
</div>
{% endif %}
{% endblock %}
{% block copyright %}
{{settings.copyright}}
{% endblock %}